<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="./dropZone.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" onclick="chooseFile(event);">
        <label for="exampleInput" onclick="chooseFile(event);">Drag one or more files to this drop zone</label>

    </div>

    <div id="prevew">
    </div>




    <form method="post" action="/logout">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>

    <script type="text/javascript" src="./table.js"></script>

</body>
</html>
