<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>

    <iframe frameborder="0" border="0" cellspacing="0" id="myfile" style="border-style: none;width: 80%; height: 80%;"
        src="/myFiles">
        <p>Your browser does not support iframes.</p>
    </iframe>

    <iframe frameborder="0" border="0" cellspacing="0" id="seefile" style="border-style: none;width: 80%; height: 80%;"
        src="/seeFile">
        <p>Your browser does not support iframes.</p>
    </iframe>

</body>

</html>